@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Condensed', sans-serif;
}

header {
  width: 100%;
}

main {
  width: 88%;
  margin: 0 auto;
}

h1 {
  font-size: 180%;
  margin: 0;
  text-align: center;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: bold;
  margin: 0;
}

/*body{
  background-color: green;
}*/
header {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 5em;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
header img {
  width: 60%;
  height: auto;
  float: left;
  display: inline;
  margin-left: 0.8em;
}
header button {
  float: right;
  /*margin: 0.3em 0.5em 0 0;*/
  font-size: 155%;
  position: fixed;
  right: 0.7em;
  top: 1em;
}
header #open {
  z-index: 2;
}
header #close {
  display: none;
  z-index: 10;
  color: #7097b2;
}

nav {
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
}
nav ul {
  background-color: #fffcf8;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.96;
  z-index: 9;
  margin: 0;
  padding: 5em 0;
  list-style-type: none;
}
nav ul a {
  color: #7097b2;
  text-decoration: none;
  font-size: 150%;
  opacity: 1;
  font-size: 200%;
  margin: 1em;
  text-align: center;
}

main {
  z-index: 0;
  padding: 2em 0;
}
main button {
  background-color: #c4e7ff;
}
main #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 7;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
main #myBtn:hover {
  background-color: #7097b2;
}

#start .overskriftbaggrund {
  background-color: #ffedd1;
}
#start article #startside img {
  width: 200px;
}
#start article #startside article {
  background-color: #c4e7ff;
  color: #7097b2;
  padding: 10px;
  width: 230px;
}
#start article #startside article h1 {
  color: #7097b2;
  text-align: left;
}
#start article #startside article h2 {
  font-size: 150%;
  border-top: 1px solid #fffcf8;
}
#start .projektbilleder figure {
  width: 160px;
}
#start .projektbilleder figure img {
  width: 100%;
}
#start .projektbilleder figure button {
  font-size: 120%;
}
#start .projektbilleder .flexcontainer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#start .deler {
  background-color: #7097b2;
  height: 4px;
  width: 75%;
  margin: 3em auto;
}
#start .flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 1.5em auto 3em auto;
}
#start .flexcontainer figure {
  /*&:hover{
    border: 2px solid black;
    border-radius: 5%;
    button{
      background-color: $hoverdeler;
    }
    .billedeoverskrift2{
      font-size: 170%;
      color: $overskrifter;
    }
  }*/
  text-align: center;
}
#start .flexcontainer figure .billedeoverskrift1 {
  font-size: 90%;
}
#start .flexcontainer figure .billedeoverskrift2 {
  font-size: 145%;
}
#start #portfolio .flexcontainer {
  height: 750px;
  margin: 0;
}
#start #ommig p {
  font-size: 90%;
  margin: 1.7em 0;
}
#start #ommig section h1 {
  text-align: left;
  font-size: 110%;
  margin-bottom: 1em;
}
#start #ommig section .flexcontainer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#start #ommig section .flexcontainer button {
  font-size: 120%;
  padding: 6px;
  margin: 0 3%;
  width: 90px;
}
#start #ommig #evner {
  margin: 2em 0;
}
#start #ommig #evner button {
  width: 130px;
  padding: 25px 6px;
  font-size: 150%;
}
#start #ommig #evner .left .flexcontainer button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
}
#start #ommig #evner .flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
  margin: 0.4em 0 1.2em 0;
}

footer {
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.25);
  padding: 1em 0;
}
footer h1 {
  margin: 0.2em auto 0.6em auto;
}
footer article a {
  display: block;
  font-size: 120%;
  margin: 0.5em auto;
}
footer article p {
  margin: 1em auto;
}
footer section a button {
  font-size: 270%;
}

.projektside .oppe h1 {
  font-size: 260%;
  border-bottom: 2px solid black;
}
.projektside .oppe h2 {
  text-align: center;
  font-size: 140%;
  margin-bottom: 0.5em;
}
.projektside .oppe p {
  font-size: 110%;
}
.projektside .nede {
  margin-top: 1.8em;
}
.projektside .nede p {
  margin-top: 1em;
}
.projektside .nede ul {
  margin: 0;
}
.projektside .nede section {
  margin-top: 1em;
}
.projektside .nede section h1 {
  text-align: left;
  font-size: 110%;
}
.projektside .nede section button {
  font-size: 120%;
  display: block;
  border-radius: 5%;
  padding: 6px;
  text-align: center;
  margin: 1em auto;
}

.desktop {
  display: none;
}

.slideimg {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 1em auto 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #7097b2;
  background-color: #c4e7ff;
  font-weight: bold;
  font-size: 160%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #ffedd1;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  display: absolute;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 767px) {
  h1 {
    font-size: 240%;
  }

  header {
    height: 6em;
  }
  header img {
    width: 37%;
    margin: 0.6em 0.5em 0 0.8em;
  }
  header #open {
    display: none;
  }

  .desktop {
    display: block;
  }

  .mobil {
    display: none;
  }

  #navdesktop {
    display: inline-block;
    position: relative;
    width: 57%;
  }
  #navdesktop ul {
    position: relative;
    padding: 1.8em 0;
    text-align: right;
    background-color: white;
  }
  #navdesktop ul a {
    color: black;
    margin: 0.5em;
  }
  #navdesktop ul a li {
    display: inline-block;
    font-size: 70%;
  }

  #start article #startside {
    height: 380px;
  }
  #start article #startside img {
    float: left;
    width: 250px;
  }
  #start article #startside article {
    width: 320px;
    display: inline-block;
    float: right;
    margin: 10em auto;
  }
  #start article #startside article h1 {
    font-size: 240%;
  }
  #start article #startside article h2 {
    font-size: 165%;
  }
  #start .deler {
    clear: both;
  }
  #start .projektbilleder figure {
    width: 200px;
  }
  #start .projektbilleder figure .billedeoverskrift1 {
    font-size: 120%;
  }
  #start .projektbilleder figure .billedeoverskrift2 {
    font-size: 200%;
  }
  #start .projektbilleder figure button {
    font-size: 160%;
    padding: 7px;
  }
  #start #ommig p {
    font-size: 115%;
  }
  #start #ommig #evner h2 {
    font-size: 200%;
  }
  #start #ommig #evner button {
    font-size: 130%;
    width: 170px;
  }
  #start #ommig #evner .flexcontainer {
    width: 65%;
    height: 250px;
    margin: 0 auto;
  }
  #start #ommig section h1 {
    font-size: 140%;
    margin-top: 1em;
  }
  #start #ommig section .flexcontainer {
    font-size: 160%;
    padding: 10px;
    width: 560px;
    margin: 0 auto;
  }
  #start #ommig section .flexcontainer button {
    font-size: 90%;
    width: 140px;
  }
  #start #portfolio .flexcontainer {
    height: 630px;
  }

  .projektside .oppe p {
    font-size: 115%;
  }
  .projektside .nede h1 {
    font-size: 225%;
  }
  .projektside .nede p {
    font-size: 110%;
  }
  .projektside .nede section button {
    font-size: 150%;
    padding: 10px;
  }
}
@media only screen and (min-width: 1020px) {
  main {
    width: 85%;
  }

  p {
    width: 80%;
  }

  header {
    height: 7em;
  }
  header img {
    width: 32%;
    margin: 0.9em 0.5em 0 1.6em;
  }
  header section button {
    font-size: 225%;
  }

  #navdesktop {
    width: 60%;
  }
  #navdesktop ul {
    padding: 2.4em 0;
  }

  #start article #startside img {
    width: 350px;
  }
  #start article #startside article {
    width: 430px;
    margin: 12em auto;
  }
  #start article #startside article h1 {
    font-size: 250%;
  }
  #start .projektbilleder figure {
    width: 240px;
  }
  #start #ommig article p {
    font-size: 120%;
  }
  #start #ommig #evner .left {
    display: inline-block;
    width: 50%;
    float: left;
  }
  #start #ommig #evner .left .flexcontainer {
    width: 100%;
    margin: 0;
  }
  #start #ommig .right {
    display: inline-block;
    width: 49%;
    float: right;
  }
  #start #ommig .right h1 {
    margin-top: -0.5em;
  }
  #start #ommig .right .flexcontainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    height: 125px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #start #ommig .right .flexcontainer a {
    width: 150px;
  }
  #start #portfoliodeler {
    margin-top: 300px;
  }
  #start #portfolio .flexcontainer {
    margin: 1.7em 0;
    height: 690px;
  }

  /*#projektside{
    header{
      img{
        width: 10%;
      }
    }
  }*/
  .projektside .oppe h2 {
    font-size: 150%;
  }
  .projektside .oppe p {
    font-size: 130%;
  }
  .projektside .nede p {
    font-size: 115%;
  }
  .projektside .nede ul {
    font-size: 115%;
  }
  .projektside .nede section h1 {
    font-size: 115%;
  }
  .projektside .nede section button {
    font-size: 130%;
    margin: 0.5em 0;
  }
  .projektside .slideshow-container {
    width: 80%;
  }

  footer article a {
    font-size: 130%;
  }
  footer article p {
    font-size: 130%;
  }
  footer section a button {
    font-size: 300%;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    height: 5.6em;
  }
  header img {
    margin-top: 0.4em;
    width: 18%;
  }
  header section button {
    font-size: 185%;
  }

  main {
    width: 80%;
  }

  #start article #startside {
    width: 80%;
    margin: 0 auto;
    /*article{
      display: inline-block;
      width: 435px;
      float: right;
    }*/
  }
  #start article #startside img {
    width: 260px;
  }
  #start .overskriftbaggrund {
    font-size: 180%;
  }
  #start #ommig #evner .left .flexcontainer button {
    width: 237px;
  }
  #start .projektbilleder .flexcontainer {
    margin: 3em 0;
  }
  #start .projektbilleder .flexcontainer figure {
    width: 180px;
  }
  #start .projektbilleder .flexcontainer figure:hover button {
    text-decoration: underline;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #start .projektbilleder .flexcontainer figure:hover .billedeoverskrift2 {
    color: #b2aa9f;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #start .projektbilleder .flexcontainer figure button {
    font-size: 100%;
  }
}
